In [7]:
import pandas as pd

df = pd.read_excel(r"C:\Users\rcrds\Downloads\Overview.xlsx")

df_rating = df.drop(columns="Review Data")
df_rating

      Company ISIN                Company Name
0     US3364331070                   1st Solar
1     CNE1000010N2              37 Interactive
2     US88579Y1010                3M do Brasil
3     GB00B1YW4409                    3i Group
4     US0378331005              A is for Apple
...            ...                         ...
2139  US5500211090                   lululemon
2140  PLBRE0000012                       mBank
2141  IL0011762130                  monday.com
2142  INE628A01036  upl Enviromental Engineers
2143  DK0060094928                      Ørsted

[2144 rows x 2 columns]

In [8]:
#df = pd.read_excel(r"C:\Users\rcrds\Desktop\Ironhack\Projects\Jobs SQL\sql-database\data\clean\")

In [9]:

df2 = pd.read_csv(r"C:\Users\rcrds\Downloads\Glassdoor_Salary_Cleaned_Version.csv")
companies_list = df2["company_txt"].str.replace("\n","").to_list()

companies_list
isin = 1000000000
for company in companies_list:
    if company not in df_rating["Company Name"].values:
        df_rating.loc[len(df_rating)] = [f"ISIN{isin}", company]
        isin += 1
    else:
        pass
df_rating

        Company ISIN           Company Name
0       US3364331070              1st Solar
1       CNE1000010N2         37 Interactive
2       US88579Y1010           3M do Brasil
3       GB00B1YW4409               3i Group
4       US0378331005         A is for Apple
...              ...                    ...
2460  ISIN1000000316  West Coast University
2461  ISIN1000000317                SkySync
2462  ISIN1000000318        DatamanUSA, LLC
2463  ISIN1000000319                23andMe
2464  ISIN1000000320              Fivestars

[2465 rows x 2 columns]

In [10]:

df_rating.to_csv(r"C:\Users\rcrds\Downloads\companiesISIN.csv",index=False)