In [84]:
import pandas as pd

df_job_company = pd.read_csv(r"C:\Users\rcrds\Desktop\Ironhack\Projects\Jobs SQL\sql-database\data\clean\To merge\Dataset1_Clean_Project4_GrpB_final.csv", sep=',')

df_job_company = df_job_company.drop(columns=["Rating","same_state","age","python_yn","R_yn","spark","aws","excel","Size","Competitors","hourly","employer_provided","min_salary","max_salary","Salary Estimate","Company Name","Headquarters"])
df_job_company

,Job Title,Job Description,Location,Founded,Type of ownership,Industry,Sector,Revenue,avg_salary,company_txt,job_state
0,Data Scientist,"Data Scientist\r\nLocation: Albuquerque, NM\r\...","Albuquerque, NM",1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),720,Tecolote Research\r\n,NM
1,Healthcare Data Scientist,What You Will Do:\r\n\r\nI. General Summary\r\...,"Linthicum, MD",1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),875,University of Maryland Medical System\r\n,MD
2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...","Clearwater, FL",2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),850,KnowBe4\r\n,FL
3,Data Scientist,*Organization and Job ID**\r\nJob ID: 310709\r...,"Richland, WA",1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),765,PNNL\r\n,WA
4,Data Scientist,Data Scientist\r\nAffinity Solutions / Marketi...,"New York, NY",1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,1145,Affinity Solutions\r\n,NY
...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",Site Name: USA - Massachusetts - Cambridge\r\n...,"Cambridge, MA",1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),845,GSK\r\n,MA
738,Senior Data Engineer,THE CHALLENGE\r\nEventbrite has a world-class ...,"Nashville, TN",2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),1025,Eventbrite\r\n,TN
739,"Project Scientist - Auton Lab, Robotics Institute",The Auton Lab at Carnegie Mellon University is...,"Pittsburgh, PA",1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,735,Software Engineering Institute\r\n,PA
740,Data Science Manager,Data Science ManagerResponsibilities:\r\n\r\nO...,"Allentown, PA",-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),1275,"Numeric, LLC\r\n",PA
741,Research Scientist – Security and Privacy,Returning Candidate? Log back in to the Career...,"Beavercreek, OH",1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),935,Riverside Research Institute\r\n,OH

In [85]:

df_job = df_job_company[["Job Title","Job Description","Location","avg_salary","job_state"]]
df_job["Job Description"] = df_job["Job Description"].str.replace("\r\n","")
df_job = df_job.reset_index()
df_job = df_job.rename(columns={"index":"job_ID",
                                "Job Title":"title",
                                "Job Description":"description",
                                "avg_salary":"salary",
                                "job_state":"state",
                                "Location":"location"
                                })
df_job

C:\Users\rcrds\AppData\Local\Temp\ipykernel_30444\473747137.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job["Job Description"] = df_job["Job Description"].str.replace("\r\n","")

,job_ID,title,description,location,salary,state
0,0,Data Scientist,"Data ScientistLocation: Albuquerque, NMEducati...","Albuquerque, NM",720,NM
1,1,Healthcare Data Scientist,What You Will Do:I. General SummaryThe Healthc...,"Linthicum, MD",875,MD
2,2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...","Clearwater, FL",850,FL
3,3,Data Scientist,*Organization and Job ID**Job ID: 310709Direct...,"Richland, WA",765,WA
4,4,Data Scientist,Data ScientistAffinity Solutions / Marketing C...,"New York, NY",1145,NY
...,...,...,...,...,...,...
737,737,"Sr Scientist, Immuno-Oncology - Oncology",Site Name: USA - Massachusetts - CambridgePost...,"Cambridge, MA",845,MA
738,738,Senior Data Engineer,THE CHALLENGEEventbrite has a world-class data...,"Nashville, TN",1025,TN
739,739,"Project Scientist - Auton Lab, Robotics Institute",The Auton Lab at Carnegie Mellon University is...,"Pittsburgh, PA",735,PA
740,740,Data Science Manager,Data Science ManagerResponsibilities:Oversee a...,"Allentown, PA",1275,PA
741,741,Research Scientist – Security and Privacy,Returning Candidate? Log back in to the Career...,"Beavercreek, OH",935,OH

In [86]:
df_job.to_csv(r"C:\Users\rcrds\Downloads\TABLE_JOB.csv",index=False)

In [ ]:
df_company = df_job_company[["Headquarters","Size","Founded","Type of ownership","Industry","Sector","Revenue","company_txt"]]
df_company = df_company.rename(columns= {"company_txt":"Company Name"})
df_company["Company Name"] = df_company["Company Name"].str.replace("\r\n","")
df_company = df_company.rename(columns={"Headquarters":"headquarters",
                           "Size":"size",
                           "Founded":"year_founded",
                           "Type of ownership":"ownership_type",
                           "Industry":"industry",
                           "Sector":"sector",
                           "Revenue":"revenue",
                           "Company Name":"name"})
df_company["year_founded"] = df_company["year_founded"].astype(int)
df_company

KeyError: "['Headquarters', 'Size'] not in index"

In [ ]:
df_isin = pd.read_csv(r"C:\Users\rcrds\Desktop\Ironhack\Projects\Jobs SQL\sql-database\data\clean\glassdoor_reviews\companiesISIN.csv")
df_isin = df_isin.drop_duplicates(subset="Company Name", keep="first")
df_isin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2412 entries, 0 to 2464
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company ISIN  2412 non-null   object
 1   Company Name  2412 non-null   object
dtypes: object(2)
memory usage: 56.5+ KB

In [ ]:
df_rating = pd.read_csv(r"C:\Users\rcrds\Desktop\Ironhack\Projects\Jobs SQL\sql-database\data\clean\To merge\Rating_Id.csv").drop_duplicates()
df_rating

,rating_id,company_isin,business_outlook_rating,ceo_rating,compensation_benefits_rating,culture_values_rating,diversity_inclusion_rating,number_of_reviews,overall_rating,recommend_friend_rating,senior_management_rating
0,1,AEA000801018,0.583333,0.500000,3.227273,3.476190,3.818182,28,3.392857,0.750000,3.142857
1,2,AEA002001013,0.666667,NaN,3.333333,3.333333,3.583333,13,3.000000,0.500000,2.583333
2,3,AEA006101017,0.750000,0.500000,3.750000,3.666667,2.666667,10,3.300000,0.800000,3.333333
3,4,AEA007301012,0.963415,0.975309,4.105769,4.039216,4.019417,132,4.136364,0.884211,3.960784
4,5,AED000201015,0.894737,0.750000,3.791667,3.333333,3.541667,35,3.600000,0.695652,3.333333
...,...,...,...,...,...,...,...,...,...,...,...
2136,2137,ZAE000255360,0.808000,0.821782,3.400000,3.633929,4.009091,268,3.645522,0.722222,3.334862
2137,2138,ZAE000255915,0.883929,0.819048,3.782857,3.811429,3.852941,233,3.939914,0.780142,3.470930
2138,2139,ZAE000259479,0.714286,NaN,3.333333,3.866667,3.266667,17,3.764706,0.714286,3.200000
2139,2140,ZAE000314084,0.848485,0.500000,3.846154,3.905660,3.980000,71,3.704225,0.680000,3.226415
2140,2141,ZAE000325783,1.000000,1.000000,5.000000,5.000000,5.000000,1,5.000000,1.000000,5.000000

In [ ]:
df_rating2 = pd.merge(df_rating, df_isin, how="left", left_on="company_isin", right_on="Company ISIN").drop(columns="Company ISIN")
df_rating2

,rating_id,company_isin,business_outlook_rating,ceo_rating,compensation_benefits_rating,culture_values_rating,diversity_inclusion_rating,number_of_reviews,overall_rating,recommend_friend_rating,senior_management_rating,Company Name
0,1,AEA000801018,0.583333,0.500000,3.227273,3.476190,3.818182,28,3.392857,0.750000,3.142857,Abu Dhabi Islamic Bank
1,2,AEA002001013,0.666667,NaN,3.333333,3.333333,3.583333,13,3.000000,0.500000,2.583333,Aldar Holding
2,3,AEA006101017,0.750000,0.500000,3.750000,3.666667,2.666667,10,3.300000,0.800000,3.333333,ADCO
3,4,AEA007301012,0.963415,0.975309,4.105769,4.039216,4.019417,132,4.136364,0.884211,3.960784,ADNOC Group
4,5,AED000201015,0.894737,0.750000,3.791667,3.333333,3.541667,35,3.600000,0.695652,3.333333,Dubai Islamic Bank
...,...,...,...,...,...,...,...,...,...,...,...,...
2136,2137,ZAE000255360,0.808000,0.821782,3.400000,3.633929,4.009091,268,3.645522,0.722222,3.334862,Old Mutual
2137,2138,ZAE000255915,0.883929,0.819048,3.782857,3.811429,3.852941,233,3.939914,0.780142,3.470930,Absa
2138,2139,ZAE000259479,0.714286,NaN,3.333333,3.866667,3.266667,17,3.764706,0.714286,3.200000,Pepkor
2139,2140,ZAE000314084,0.848485,0.500000,3.846154,3.905660,3.980000,71,3.704225,0.680000,3.226415,Outsurance
2140,2141,ZAE000325783,1.000000,1.000000,5.000000,5.000000,5.000000,1,5.000000,1.000000,5.000000,Naspers

In [ ]:
business_outlook_rating_avg = df_rating2["business_outlook_rating"].mean()
df_rating2["business_outlook_rating"] = df_rating2["business_outlook_rating"].fillna(business_outlook_rating_avg)

In [ ]:

ceo_rating_avg = df_rating2["ceo_rating"].mean()
df_rating2["ceo_rating"] = round(df_rating2["ceo_rating"].fillna(ceo_rating_avg),2)

compensation_benefits_rating_avg = df_rating2["compensation_benefits_rating"].mean()
df_rating2["compensation_benefits_rating"] = round(df_rating2["compensation_benefits_rating"].fillna(compensation_benefits_rating_avg),2)

culture_values_rating_avg = df_rating2["culture_values_rating"].mean()
df_rating2["culture_values_rating"] = round(df_rating2["culture_values_rating"].fillna(culture_values_rating_avg),2)

diversity_inclusion_rating_avg = df_rating2["diversity_inclusion_rating"].mean()
df_rating2["diversity_inclusion_rating"] = round(df_rating2["diversity_inclusion_rating"].fillna(diversity_inclusion_rating_avg),2)

recommend_friend_rating_avg = df_rating2["recommend_friend_rating"].mean()
df_rating2["recommend_friend_rating"] = round(df_rating2["recommend_friend_rating"].fillna(recommend_friend_rating_avg),2)

senior_management_rating_avg = df_rating2["senior_management_rating"].mean()
df_rating2["senior_management_rating"] = round(df_rating2["senior_management_rating"].fillna(senior_management_rating_avg),2)
df_rating2["overall_rating"] = round(df_rating2["overall_rating"],2)
df_rating2["business_outlook_rating"] = round(df_rating2["business_outlook_rating"],2)
df_rating2.isnull().sum()

rating_id                        0
company_isin                     0
business_outlook_rating          0
ceo_rating                       0
compensation_benefits_rating     0
culture_values_rating            0
diversity_inclusion_rating       0
number_of_reviews                0
overall_rating                   0
recommend_friend_rating          0
senior_management_rating         0
Company Name                    52
dtype: int64

In [ ]:
df_rating2 = df_rating2.rename(columns={"company_isin":"company_ISIN",
                           "business_outlook_rating":"business_outlook",
                           "ceo_rating":"ceo",
                           "compensation_benefits_rating":"compensation_benefits",
                           "culture_values_rating":"culture_values",
                           "diversity_inclusion_rating":"diversity_inclusion",
                           "number_of_reviews":"review_number",
                           "overall_rating":"overall",
                           "recommend_friend_rating":"recommend_friend",
                           "senior_management_rating":"senior_management"})
df_rating2 = df_rating2.drop(columns="Company Name")
df_rating2

,rating_id,company_ISIN,business_outlook,ceo,compensation_benefits,culture_values,diversity_inclusion,review_number,overall,recommend_friend,senior_management
0,1,AEA000801018,0.58,0.50,3.23,3.48,3.82,28,3.39,0.75,3.14
1,2,AEA002001013,0.67,0.78,3.33,3.33,3.58,13,3.00,0.50,2.58
2,3,AEA006101017,0.75,0.50,3.75,3.67,2.67,10,3.30,0.80,3.33
3,4,AEA007301012,0.96,0.98,4.11,4.04,4.02,132,4.14,0.88,3.96
4,5,AED000201015,0.89,0.75,3.79,3.33,3.54,35,3.60,0.70,3.33
...,...,...,...,...,...,...,...,...,...,...,...
2136,2137,ZAE000255360,0.81,0.82,3.40,3.63,4.01,268,3.65,0.72,3.33
2137,2138,ZAE000255915,0.88,0.82,3.78,3.81,3.85,233,3.94,0.78,3.47
2138,2139,ZAE000259479,0.71,0.78,3.33,3.87,3.27,17,3.76,0.71,3.20
2139,2140,ZAE000314084,0.85,0.50,3.85,3.91,3.98,71,3.70,0.68,3.23
2140,2141,ZAE000325783,1.00,1.00,5.00,5.00,5.00,1,5.00,1.00,5.00

In [ ]:
df_rating2.to_csv(r"C:\Users\rcrds\Downloads\TABLE_RATING.csv",index=False)

In [ ]:
def fillU(row):
    if pd.isnull(row["name"]):  # use pd.isnull for single values
        return row["Company Name"]
    else:
        return row["name"]

In [ ]:
df_company2 = pd.merge(df_company,df_rating2,how="outer",left_on="name",right_on="Company Name").drop(columns=["rating_id","business_outlook","ceo","compensation_benefits","culture_values","diversity_inclusion","review_number","overall","recommend_friend","senior_management","ISIN"])
df_company2

KeyError: 'Company Name'

In [ ]:

df_company2["name"]=df_company2.apply(fillU, axis=1)
df_company2 = df_company2.drop(columns="Company Name")
df_company2["year_founded"] = df_company2["year_founded"].fillna(0)
df_company2 = df_company2.fillna("Unknown")
df_company2["year_founded"] = df_company2["year_founded"].astype(int)

df_company2["name"] = df_company2["name"].fillna("").astype(str).str.strip().str.upper()
df_company2 = df_company2.drop_duplicates(subset="name", keep="first")
df_company2

,headquarters,size,year_founded,ownership_type,industry,sector,revenue,name
0,"Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),"1-800-FLOWERS.COM, INC."
1,"Saint Louis, MO",51 to 200 employees,2016,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,1904LABS
3,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,1ST SOLAR
4,"Sunnyvale, CA",501 to 1000 employees,2006,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,23ANDME
5,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,37 INTERACTIVE
...,...,...,...,...,...,...,...,...
2805,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,MONDAY.COM
2806,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,UPL ENVIROMENTAL ENGINEERS
2807,"Harrisburg, PA",201 to 500 employees,1997,Company - Private,Advertising & Marketing,Business Services,$25 to $50 million (USD),WEBFX.COM
2808,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,ØRSTED
2809,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,UNKNOWN

In [ ]:
df_company3 = pd.merge(df_company2,df_isin,how="left",left_on="name",right_on="Company Name")
df_company3 = df_company3.drop(df_company3.index[-1]).drop(columns="Company Name")
df_company3 = df_company3.rename(columns={"Company ISIN":"ISIN"})
df_company3
df_company3.to_csv(r"C:\Users\rcrds\Downloads\TABLE_COMPANY.csv",index=False)