In [ ]:
import pandas as pd
"""MAP"""
df = pd.read_csv("Map.csv")
df["country_code"] = df["Company ISIN"].str[:2]
df["country_code"].value_counts()
df
df.to_csv("map_countries.csv", index=False)

In [19]:
"""Business Outlook Rating"""

df = pd.read_csv("Business Outlook Rating.csv")

df = df[["Company ISIN","2024"]]
df.to_csv("Business Outlook Rating_2024.csv", index=False)

In [21]:
"""CEO RATING"""

df = pd.read_csv("CEO Rating.csv")

df = df[["Company ISIN","2024"]]


df

      Company ISIN      2024
0     GB00B1YW4409  1.000000
1     US0378331005       NaN
2     KYG2953R1149  0.750000
3     INE117A01022  0.922523
4     CH0012221716  0.922523
...            ...       ...
1674  US5500211090  0.808247
1675  PLBRE0000012  1.000000
1676  IL0011762130  0.947917
1677  INE628A01036  1.000000
1678  DK0060094928  0.780000

[1679 rows x 2 columns]

In [22]:
"""Compensation And Benefits Ratin"""
df = pd.read_csv("Compensation And Benefits Ratin.csv")

df = df[["Company ISIN","2024"]]
df.to_csv("Compensation And Benefits Ratin_2024.csv", index=False)

In [23]:
"""Culture And Values Rating"""
df = pd.read_csv("Culture And Values Rating.csv")

df = df[["Company ISIN","2024"]]
df.to_csv("Culture And Values Rating_2024.csv", index=False)

In [24]:
"""Diversity And Inclusion Rating"""

df = pd.read_csv("Diversity And Inclusion Rating.csv")

df = df[["Company ISIN","2024"]]
df.to_csv("Diversity And Inclusion Rating_2024.csv", index=False)

In [25]:
"""Number of Reviews"""

df = pd.read_csv("Number of Reviews.csv")

df = df[["Company ISIN","2024"]]
df.to_csv("Number of Reviews_2024.csv", index=False)

In [26]:
"""Rating"""
df = pd.read_csv("Rating.csv")

df = df[["Company ISIN","2024"]]
df.to_csv("Rating_2024.csv", index=False)

In [27]:
"""Recommend To Friend Rating"""
df = pd.read_csv("Recommend To Friend Rating.csv")

df = df[["Company ISIN","2024"]]
df.to_csv("Recommend To Friend Rating_2024.csv", index=False)

In [29]:
"""Senior Management Rating"""
df = pd.read_csv("Senior Management Rating.csv")

df = df[["Company ISIN","2024"]]
df.to_csv("Senior Management Rating_2024.csv", index=False)

df

      Company ISIN      2024
0     CNE1000010N2  5.000000
1     US88579Y1010  4.625000
2     GB00B1YW4409  4.000000
3     US0378331005  5.000000
4     KYG2953R1149  3.800000
...            ...       ...
2108  US5500211090  3.573059
2109  PLBRE0000012  3.500000
2110  IL0011762130  3.818898
2111  INE628A01036  4.000000
2112  DK0060094928  3.609756

[2113 rows x 2 columns]

In [30]:
"""Work Life Balance Rating"""
df = pd.read_csv("Work Life Balance Rating.csv")

df = df[["Company ISIN","2024"]]
df.to_csv("Work Life Balance Rating_2024.csv", index=False)