In [4]:
import pandas as pd
from functools import reduce

In [5]:
"""RATING ID TABLE"""
df_bor = pd.read_csv("Business Outlook Rating_2024.csv")
df_cr = pd.read_csv("CEO Rating_2024.csv")
df_cbr = pd.read_csv("Compensation And Benefits Rating_2024.csv")
df_car = pd.read_csv("Culture And Values Rating_2024.csv")
df_dir = pd.read_csv("Diversity And Inclusion Rating_2024.csv")
df_nr = pd.read_csv("Number of Reviews_2024.csv")
df_r = pd.read_csv("Rating_2024.csv")
df_rfr = pd.read_csv("Recommend To Friend Rating_2024.csv")
df_smr = pd.read_csv("Senior Management Rating_2024.csv")

In [6]:
dfs_dict = {
    "business_outlook_rating": df_bor,
    "ceo_rating": df_cr,
    "compensation_benefits_rating": df_cbr,
    "culture_values_rating": df_car,
    "diversity_inclusion_rating": df_dir,
    "number_of_reviews": df_nr,
    "overall_rating": df_r,
    "recommend_friend_rating": df_rfr,
    "senior_management_rating": df_smr
}

def standardize_isin_column(df: pd.DataFrame) -> pd.DataFrame:
    possible = ["Company ISIN", "company_isin", "ISIN", "isin", "Company_ISIN"]
    for col in possible:
        if col in df.columns:
            return df.rename(columns={col: "company_isin"})
    raise KeyError(f"Não encontrei ISIN. Colunas: {df.columns.tolist()}")

cleaned = []

for metric_name, df in dfs_dict.items():
    df = standardize_isin_column(df).copy()
    value_col = [c for c in df.columns if c != "company_isin"][0]
    cleaned.append(df[["company_isin", value_col]].rename(columns={value_col: metric_name}))

merged = reduce(lambda left, right: left.merge(right, on="company_isin", how="outer"), cleaned)
rating_id_df = merged.set_index("company_isin")

rating_id_df.reset_index().to_csv("Rating_Id.csv", index=False)

In [7]:
rating_id_df

,business_outlook_rating,ceo_rating,compensation_benefits_rating,culture_values_rating,diversity_inclusion_rating,number_of_reviews,overall_rating,recommend_friend_rating,senior_management_rating
company_isin,,,,,,,,,
AEA000801018,0.583,NaN,3.227,3.476,3.818,28,3.393,0.750,3.143
AEA002001013,0.667,NaN,3.333,3.333,3.583,13,3.000,0.500,2.583
AEA006101017,0.750,NaN,3.750,3.667,2.667,10,3.300,0.800,3.333
AEA007301012,0.963,0.975309,4.106,4.039,4.019,132,4.136,0.884,3.961
AED000201015,0.895,0.750000,3.792,3.333,3.542,35,3.600,0.696,3.333
...,...,...,...,...,...,...,...,...,...
ZAE000255360,0.808,0.821782,3.400,3.634,4.009,268,3.646,0.722,3.335
ZAE000255915,0.884,0.819048,3.783,3.811,3.853,233,3.940,0.780,3.471
ZAE000259479,0.714,NaN,3.333,3.867,3.267,17,3.765,0.714,3.200
ZAE000314084,0.848,NaN,3.846,3.906,3.980,71,3.704,0.680,3.226
ZAE000325783,1.000,1.000000,5.000,5.000,5.000,1,5.000,1.000,5.000