In [ ]:
#import libraries
%pip install numpy
import pandas as pd


# Specify file paths for the two CSV files
file_path_1 = r"C:\Users\User\Documents\Iron Hack\Week 5\GIT_SARAHEJ\sql-database\data\clean\To merge\Dataset1_Clean_Project4_GrpB_final.csv"  # Update with actual file path

# Read the first CSV file into a DataFrame
df1 = pd.read_csv(file_path_1, sep=',')


# Display the first few rows of each DataFrame to confirm import
print("First DataFrame:")
print(df1.head())

Requirement already satisfied: numpy in c:\users\user\documents\iron hack\anaconda\lib\site-packages (2.3.5)
Note: you may need to restart the kernel to use updated packages.
First DataFrame:
                   Job Title              Salary Estimate  \
0             Data Scientist   $53K-$91K (Glassdoor est.)
1  Healthcare Data Scientist  $63K-$112K (Glassdoor est.)
2             Data Scientist   $80K-$90K (Glassdoor est.)
3             Data Scientist   $56K-$97K (Glassdoor est.)
4             Data Scientist  $86K-$143K (Glassdoor est.)

                                     Job Description  Rating  \
0  Data Scientist\nLocation: Albuquerque, NM\nEdu...      38
1  What You Will Do:\n\nI. General Summary\n\nThe...      34
2  KnowBe4, Inc. is a high growth information sec...      48
3  *Organization and Job ID**\nJob ID: 310709\n\n...      38
4  Data Scientist\nAffinity Solutions / Marketing...      29

                                 Company Name         Location  \
0                      Tecolote Research\n3.8  Albuquerque, NM
1  University of Maryland Medical System\n3.4    Linthicum, MD
2                                KnowBe4\n4.8   Clearwater, FL
3                                   PNNL\n3.8     Richland, WA
4                     Affinity Solutions\n2.9     New York, NY

     Headquarters                    Size  Founded   Type of ownership  ...  \
0      Goleta, CA   501 to 1000 employees     1973   Company - Private  ...
1   Baltimore, MD        10000+ employees     1984  Other Organization  ...
2  Clearwater, FL   501 to 1000 employees     2010   Company - Private  ...
3    Richland, WA  1001 to 5000 employees     1965          Government  ...
4    New York, NY     51 to 200 employees     1998   Company - Private  ...

  avg_salary                              company_txt job_state same_state  \
0        720                      Tecolote Research\n        NM          0
1        875  University of Maryland Medical System\n        MD          0
2        850                                KnowBe4\n        FL          1
3        765                                   PNNL\n        WA          1
4       1145                     Affinity Solutions\n        NY          1

   age  python_yn  R_yn  spark  aws excel
0   47          1     0      0    0     1
1   36          1     0      0    0     0
2   10          1     0      1    0     1
3   55          1     0      0    0     0
4   22          1     0      0    0     1

[5 rows x 28 columns]

In [21]:
# Specify file paths for the two CSV files
file_path_2 = r"C:\Users\User\Documents\Iron Hack\Week 5\GIT_SARAHEJ\sql-database\data\clean\To merge\Rating_Id.csv"  # Update with actual file path

# Read the first CSV file into a DataFrame
df2 = pd.read_csv(file_path_2, sep=',')


# Display the first few rows of each DataFrame to confirm import
print("Second DataFrame:")
print(df2.head())

Second DataFrame:
   company_isin  business_outlook_rating  ceo_rating  \
0  AEA000801018                    0.583         NaN
1  AEA002001013                    0.667         NaN
2  AEA006101017                    0.750         NaN
3  AEA007301012                    0.963    0.975309
4  AED000201015                    0.895    0.750000

   compensation_benefits_rating  culture_values_rating  \
0                         3.227                  3.476
1                         3.333                  3.333
2                         3.750                  3.667
3                         4.106                  4.039
4                         3.792                  3.333

   diversity_inclusion_rating  number_of_reviews  overall_rating  \
0                       3.818                 28           3.393
1                       3.583                 13           3.000
2                       2.667                 10           3.300
3                       4.019                132           4.136
4                       3.542                 35           3.600

   recommend_friend_rating  senior_management_rating
0                    0.750                     3.143
1                    0.500                     2.583
2                    0.800                     3.333
3                    0.884                     3.961
4                    0.696                     3.333

In [22]:
df1

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,avg_salary,company_txt,job_state,same_state,age,python_yn,R_yn,spark,aws,excel
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",38,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,720,Tecolote Research\n,NM,0,47,1,0,0,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,34,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,875,University of Maryland Medical System\n,MD,0,36,1,0,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",48,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,850,KnowBe4\n,FL,1,10,1,0,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,38,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,765,PNNL\n,WA,1,55,1,0,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,29,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,1145,Affinity Solutions\n,NY,1,22,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,39,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,845,GSK\n,MA,0,190,0,0,0,1,0
738,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,44,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,1025,Eventbrite\n,TN,0,14,1,0,1,1,0
739,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,26,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,735,Software Engineering Institute\n,PA,1,36,0,0,0,0,1
740,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,32,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,1275,"Numeric, LLC\n",PA,0,-1,0,0,0,0,1
741,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,36,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,935,Riverside Research Institute\n,OH,0,53,1,0,0,0,0

In [25]:
df2

,company_isin,business_outlook_rating,ceo_rating,compensation_benefits_rating,culture_values_rating,diversity_inclusion_rating,number_of_reviews,overall_rating,recommend_friend_rating,senior_management_rating
0,AEA000801018,0.583,NaN,3.227,3.476,3.818,28,3.393,0.750,3.143
1,AEA002001013,0.667,NaN,3.333,3.333,3.583,13,3.000,0.500,2.583
2,AEA006101017,0.750,NaN,3.750,3.667,2.667,10,3.300,0.800,3.333
3,AEA007301012,0.963,0.975309,4.106,4.039,4.019,132,4.136,0.884,3.961
4,AED000201015,0.895,0.750000,3.792,3.333,3.542,35,3.600,0.696,3.333
...,...,...,...,...,...,...,...,...,...,...
2136,ZAE000255360,0.808,0.821782,3.400,3.634,4.009,268,3.646,0.722,3.335
2137,ZAE000255915,0.884,0.819048,3.783,3.811,3.853,233,3.940,0.780,3.471
2138,ZAE000259479,0.714,NaN,3.333,3.867,3.267,17,3.765,0.714,3.200
2139,ZAE000314084,0.848,NaN,3.846,3.906,3.980,71,3.704,0.680,3.226
2140,ZAE000325783,1.000,1.000000,5.000,5.000,5.000,1,5.000,1.000,5.000

In [26]:
column_titles1 = df1.columns.tolist()
column_titles1

['Job Title',
 'Salary Estimate',
 'Job Description',
 'Rating',
 'Company Name',
 'Location',
 'Headquarters',
 'Size',
 'Founded',
 'Type of ownership',
 'Industry',
 'Sector',
 'Revenue',
 'Competitors',
 'hourly',
 'employer_provided',
 'min_salary',
 'max_salary',
 'avg_salary',
 'company_txt',
 'job_state',
 'same_state',
 'age',
 'python_yn',
 'R_yn',
 'spark',
 'aws',
 'excel']